/*
Color info:
header background: rgb(78, 160, 255);
table th: rgb(32, 169, 229);
table td: rgb(177, 229, 242);
*/

/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    margin-left: 1em;
}

/* HEADER */
header {
    background-color: rgb(78, 160, 255) ;
    background-image: url(../img/pattern.png);
    background-size: 25%;
    background-repeat: repeat;

    height: 100px;
    position: relative;
}
header #logo {
    height: 50%;
    position: absolute;
    left: 5px;
    bottom: 10px;
}

/* MAIN */
main {
    max-width: 85%;
    margin: 20px auto;
}

/* Articolo  Heading*/
#articolo h1 {
    font-size: 40px;
}
#articolo #info {
    color: gray;
    font-weight:bold;
    margin-bottom: 20px;
}
#info #data {
    font-size: smaller;
}
.autore-link {
    text-decoration: none;
    color: rgb(32, 169, 229);
}
.descrizioni {
    font-size: smaller;
}

/* Articolo Corpo*/
#corpo > * {
    margin: 20px 0;
}
/*table*/
table {
    border-spacing: 0;
}
thead {
    color: white;
    background-color: rgb(32, 169, 229);
}
tbody {
    background-color: rgb(177, 229, 242);
}
td {
    padding: 5px;
}
/* Provo a usare pseudoclassi */
tr:nth-child(2) {
    background-color: white;
}
thead th:last-child , tr td:last-child {
    width: 60%;
}

/* Sezione "Potrebbe interessarti" */
#potrebbe-interessarti > * {
    margin: 5px;
}
#potrebbe-interessarti h4 {
    color: gray;
}
/* schede articoli alternativi */
.articolo-alternativo {
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;

    padding: 10px;
}
.link-articolo-1 {
    background-image: url(../img/monitor.jpg);
}
.link-articolo-2 {
    background-image: url(../img/graph.jpg);
}

/* Caratteristische link */
#potrebbe-interessarti a {
    color: white;
    text-decoration: none;
}